

// Prefix all colors for use outside of this file with @clr and with a generic
// name so we can switch the theme out easily.
@clr-black: #000000;
@clr-white: #ffffff;
@clr-gray-dark: #1a1c1f;
@clr-gray-medium: #444;
@clr-gray-light: #ddd;
@clr-orange: #e68d35;
@clr-green: #09aa64;
@clr-blue: #068894;
@clr-blue-dark: darken(@clr-blue, 5%);
@clr-red: #c6704b;

@clr-dark: #262d37;

@clr-background: @clr-gray-dark;
@clr-txt: #f3f9fc;
@clr-highlight: @clr-blue;

@clr-links-out: @clr-blue;
@clr-links-hover: lighten(@clr-links-out, 10%);
