.grid-justify(@justify) {
    display: flex;
    justify-content: @justify;

    @media (max-width: 640px) {
        display: block;
    }
}
.grid() {
    display: flex;
    margin: 0 0 20px 0;

    @media (max-width: 640px) {
        display: block;
    }
}
.col(@columnWidth) {
    width: @columnWidth;

    @media (max-width: 640px) {
        width: 100%;
        text-align: left;
        margin: 0 0 10px 0;
    }
}
.col() {
    flex: 1;

    @media (max-width: 640px) {
        width: 100%;
        text-align: left;
        margin: 0 0 10px 0;
    }
}
* {
    box-sizing: border-box;
}
