.application-ctr {
    display: flex;
    height: 100%;
    width: 100%;
}

.application {
    display: flex;
    flex: 1;
    width: 100%;

    .content {
        background-color: @clr-background-alt;
        flex: 1;
        height: 100%;
    }

    .navigation {
        width: 20%;
    }
}
