.application-ctr {
    height: 100%;
    width: 100%;
}

.application {
    .grid-justify(space-between);
    height: 100%;

    .content {
        .col(80%);
        background-color: @clr-background-alt;
        height: 100%;
        overflow: hidden;
    }

    .sidebar {
        .col(20%);
        height: 100%;
        overflow-y: auto;
    }
}
