.btn() {
    background: darken(@clr-highlight, 5%);
    border: none;
    //border-radius: 0.25em;
    border-radius: 4px;
    color: @clr-gray-light;
    cursor: pointer;
    font-size: 0.95rem;
    padding: 0.5em;
    transition: @transition;

    &:focus {
        outline: 0;
    }

    &:hover {
        background: @clr-highlight;
        color: @clr-white;
    }

    &:disabled {
        background: @clr-gray-medium;
        color: darken(@clr-gray-light, 5%);
        cursor: not-allowed;
    }
}

.aisbtn {
    .btn();
}
