
.ais-dtpicker {

    label {
        font-weight: bold;
    }

    .ais-dtpicker__label {
        padding: 0.5em 0;
        width: 100%;
    }

    .ais-dtpicker__inputs {
        .grid-justify(space-between);

        .ais-dtpicker__date {
            .col(49%);
        }

        .ais-dtpicker__time {
            .col(49%);
        }
    }

    .rw-widget {
        font-size: 12px;
    }
}
