.datagrid__container {
    height: 100%;
    position: relative;

    .datagrid__table {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 48px;
        overflow-y: auto;

        .griddle {
            text-align: center;

            .top-section {
                .grid-justify(space-between);
            }

            .griddle-filter {
                .col(25%);
                text-align:left;
                color:#222;
                min-height:1px;
                input {
                    .textinput();
                }
            }

            .griddle-settings-toggle {
                .col(25%);
                text-align:right;

                button {
                    .btn();
                }
            }

            .griddle-settings {
                background-color:#FFF;
                border:1px solid #DDD;
                color:#222;
                padding:10px;
                margin-bottom:10px;

                .griddle-columns {
                    clear:both;
                    display:table;
                    width:100%;
                    border-bottom:1px solid #EDEDED;
                    margin-bottom:10px;
                }

                .griddle-column-selection {
                    float:left;
                    width:20%;
                }
            }

            table {
                width:100%;
                table-layout:fixed;
                font-size: 0.75rem;
                border-collapse: collapse;
            }

            thead {
                border-left: 2px solid @clr-background;
                border-right: 2px solid @clr-background;
            }

            tr {
                &.standard-row {
                    background-color: lighten(@clr-background, 5%);
                    transition: all 0.35s ease;

                    &:hover {
                        cursor: pointer;
                        background-color: lighten(@clr-background, 12%);
                    }
                }

                &.selected {
                    background-color: lighten(@clr-background, 35%);
                    &:hover {
                        background-color: lighten(@clr-background, 35%);
                    }
                }
            }

            th {
                background-color: lighten(@clr-background, 12%);
                border-bottom: 1px solid @clr-background;
                color: @clr-gray-light;
                font-weight: bold;
                overflow-wrap: break-word;
                word-wrap: break-word;
                padding: 0.5em 1.0em;
                cursor: pointer;
                transition: @transition;

                &:hover {
                    background-color: lighten(@clr-background, 20%);
                    color: @clr-txt;
                }
            }

            td {
                padding:5px;
                border-bottom: 1px solid @clr-background;
                color: @clr-txt;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .footer-container {
                padding:5px;
                background-color:#EDEDED;
                border-left: 2px solid @clr-background;
                border-right: 2px solid @clr-background;
                color:#222;
            }

            .griddle-previous, .griddle-page, .griddle-next {
                float:left;
                width:33%;
                min-height:1px;
                margin-top:5px;
            }

            .griddle-page {
                text-align:center;
            }

            .griddle-next {
                text-align:right;
            }
        }
    }

    .datagrid__pager {
        .grid-justify(space-between);

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: darken(@clr-background, 5%);

        .datagrid__pager-controls {
            margin-left: 2px;

            .controls {
                .grid-justify(flex-start);
            }
            button, .dropdownList__pages {
                margin: 7px 3px;
            }
        }

        .datagrid__pager-stats {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 10px;
        }
    }

}
